<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Example</title>
</head>

<body ng-app="app">

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../dist/ng-custom-element.umd.js"></script>

    <script>
        var app = angular.module('app', ['ngCustomElement']).controller('ExampleController', function () {
            this.somePropConfig = {
                prop1: {
                    somObj: 'val',
                },
                prop2: ['val2']
            };

            this.someEventConfig = {
                click: function clickHandler() {
                    console.log('was clicked')
                }
            };
            
            this.show = true;
            this.toggle = () => {
                this.show = !this.show;
            };
        });
    </script>

    <div ng-controller="ExampleController as example">

        <button ng-click="example.toggle()">Show/hide</button>

        <ng-custom-element ng-if="example.show" props="example.somePropConfig" events="example.someEventConfig">
            <p>inner</p>
        </ng-custom-element>

    </div>

</body>

</html>